[submodule "fritzing-parts/esp8266_fritzing"]
	path = fritzing-parts/esp8266_fritzing
	url = https://github.com/prasertsakd/esp8266_fritzing.git
[submodule "fritzing-parts/esp8266-fritzing-parts"]
	path = fritzing-parts/esp8266-fritzing-parts
	url = https://github.com/squix78/esp8266-fritzing-parts.git
[submodule "fritzing-parts/adafruit-Fritzing-Library"]
	path = fritzing-parts/adafruit-Fritzing-Library
	url = https://github.com/adafruit/Fritzing-Library.git
